@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Red+Hat+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 100%;
}

.lg {
  display: none;
}

.sm {
  display: block;

}

/* NAV SECTION */
.mini-nav-ul {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(50deg, navy, silver, blue);
}

.mini-nav-ul svg {
  font-size: 2em;
  color: white;
}

.nav-ul {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2em;
  background: linear-gradient(50deg, navy, silver, blue);
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  z-index: 1;
  display: none;
}

.nav-li {
  list-style-type: none;
  transition: all .1s ease-in-out;
  opacity: 1;
}

.common-link a, .home-link {
  text-decoration: none;
  color: white;
}

.nav-li:hover {
  transform: scale(1.5);
  opacity: 1;
}

.home-link, #closing-nate-codes-tag {
  box-shadow: 2px 2px 2px black,
  -2px 2px 2px black,
  2px -2px 2px black,
  -2px -2px 2px black;
  padding: 1em;
  font-size: 1em;
  border-radius: 10px;
  transition: all .5s;
  z-index: 1;
}

.home-link:hover, #closing-nate-codes-tag:hover {
  transform: rotateX(360deg);
  background: blue;

}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}

.hamburger-menu {
  cursor: pointer;
}

.open-menu {
  background: linear-gradient(50deg, navy, silver, blue);
  height: 10vh;
  font-size: 2em;
  color: white;
}

/* HEADER/HERO SECTION */
#hero {
  background-image: url("../public/img/developer-reviewing-javascript.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

.hero-img {
  position: fixed;
  top: 0px;
  bottom: 100vh;
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 50%;
}

header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  bottom: 50vh;
  width: 100%;
  height: 40vh;
  display: grid;
  place-items: center;
  color: white;
}

.header-content {
  text-align: center;
  padding: 1.5em;
  border: 1px dashed whitesmoke;
  border-radius: 25px;
  background: rgba(0,0,128, 0.5);
  max-width: 90%;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  /* height: 50vh; */
  display: flex;
  flex-flow: row wrap;
}

.header-spacer {
  width: 0%;
}

/* ABOUT SECTION */
#about {
  width: 100vw;
  max-width: 100%;
  padding: 1em 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Josefin Sans', cursive;
}

#about-title {
  flex-basis: 100%;
  text-align: center;
}

.about-pic {
  /* max-height: 90%; */
  max-width: 90%;
  display: inline;
  float: left;
  object-fit: contain;
  object-position: bottom;
}

#bio-text {
  width: 90%;
  background: rgba(255,255,255,0.8);
  padding: 1em;
  border-radius: 20px;
}

#bio-text p {
  text-align: justify;
  font-size: 1.125em;
  padding: 0.5em 0;
  line-height: 1.125em;
}


/* PROJECTS SECTION */
#projects h2 {
  text-align: center;
}

.project-card {
  padding: 1em;
  background: linear-gradient(235deg, azure, blue);
  /* border: 10px solid silver; */
  border-radius: 5px;
  width: 80%;
  margin: 2em auto;
  text-align: center;
  cursor: pointer;
}

.project-card img, .project-display img {
  max-width: 70%;
}

.project-display {
  padding: 2em;
  background: linear-gradient(25deg, gold, goldenrod);
  color: black;
  border: 10px solid blue;
  border-radius: 25px;
  width: 80%;
  margin: 2em auto;
  text-align: center;
}

/* RESUME SECTION */
#resume h2, #resume h3 {
  text-align: center;
}

#resume h2 {
  font-size: 2.5em;
}

#resume h3 {
  font-size: 2em;
}

.tech-skills {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.tech-skills > svg {
  font-size: 5em;
}

.tech-skills img {
  max-width: 20%;
}

details {
  cursor: pointer;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin: 1em auto;
  width: 70vw;
}

.resume-item {
  border-bottom: 1px solid black;

}

/* CONTACT/LINKS SECTION */
#contact h2 {
  font-size: 2.5em;
  text-align: center;
}
#links-ul {
  list-style-type: none;
  padding: 0;
}

.link-li {
  display: inline;
  padding: 0 1em;
  font-size: 2em;
}

.link-li a {
  color: black;
  text-decoration: none;
}

#links svg {
  font-size: 2em;
}

button {
  /* display: block; */
  min-width: 100px;
  cursor: pointer;
  margin: 0 20px;
}

#contact {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

/* FOOTER */

footer {
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  background-color: navy;
  padding: 0.5em;
}

footer a, footer a:visited {
  text-decoration: none;
  color: white;
}

#copyright-text {
  font-size: 2em;
}

#closing-nate-codes-tag {
  font-size: 2em;
  width: fit-content;
  border: 1px solid black;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
  .lg {
    display: block;
  }
  
  .sm {
    display: none;
  }

  .nav-ul {
    display: flex;
    gap: 0.5em;
  }
 
  .nav-li {
    font-size: 0.75em;
    padding: 0.5em;
  }
  
  .home-link {
    font-size: 1em;
  }

  header {
    width: 80%;
  }

  .header-spacer {
    height: 100%;
    width: 20%;
  }

}

@media (min-width: 840px) {
  .nav-ul {
    gap: 1em;
  }
 
  .nav-li {
    font-size: 1em;
    padding: 1em;
  }
  
  .home-link {
    font-size: 2em;
  }

  .about-pic {
    max-width: 40%;
  }

  #bio-text {
    width: 40%;
  }
}