@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Red+Hat+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

/* Default view is vertical mobile device */

html {
  background: #eee;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 100%;
}

.lg {
  display: none;
}

.sm {
  display: block;

}

h2 {
  background: linear-gradient(315deg, navy, silver, blue, silver, navy);
  padding: 1em;
  color: whitesmoke;
  font-variant: small-caps;
}

/* NAV SECTION */
.mini-nav-ul-open, .mini-nav-ul-closed {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 0.75em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: linear-gradient(50deg, navy, silver, blue);
}

.mini-nav-ul-open svg, .mini-nav-ul-closed svg {
  font-size: 2em;
  color: white;
}

.mini-nav-ul-open .common-link:hover {
  transform: scale(1.5);
}

.mini-nav-ul-closed {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.nav-ul {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 2em;
  background: linear-gradient(50deg, navy, silver, blue);
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  z-index: 1;
  display: none;
}

.nav-li {
  list-style-type: none;
  transition: all .1s ease-in-out;
  opacity: 1;
}

.common-link a, .home-link {
  text-decoration: none;
  color: white;
}

.nav-li:hover {
  transform: scale(1.12);
  opacity: 1;
}

.home-link, #closing-nate-codes-tag {
  box-shadow: 2px 2px 2px black,
  -2px 2px 2px black,
  2px -2px 2px black,
  -2px -2px 2px black;
  padding: 1em;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.5em;
  border-radius: 10px;
  transition: all .5s;
  z-index: 1;
}

.home-link:hover, #closing-nate-codes-tag:hover {
  transform: rotateX(360deg);
  background: blue;
}

.open-menu .home-link {
  font-size: 1.5em;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}

.open-menu {
  background: linear-gradient(50deg, navy, silver, blue);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
  color: white;
  z-index: 99;
  opacity: 95%;
  display: grid;
  place-items: center;
}

.hamburger-menu, .open-menu .hamburger-menu {
  position: fixed;
  font-size: 1.5em;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.open-menu .hamburger-menu {
  top: 20px;
  right: 20px;
}

/* HEADER/HERO SECTION */
#hero {
  background-image: url("../public/img/developer-reviewing-javascript.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

/* .hero-img {
  position: fixed;
  top: 0px;
  bottom: 100vh;
  height: 50vh;
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 50%;
} */

header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  bottom: 50vh;
  width: 100%;
  height: 40vh;
  display: grid;
  place-items: center;
  color: white;
}

.header-content {
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-variant: small-caps;
  margin: 10vh auto 0;
  padding: 1.5em;
  border: 1px dotted whitesmoke;
  border-radius: 25px;
  box-shadow: 2px 2px 10px navy;
  background: rgba(0,0,128, 0.8);
  max-width: 90%;
}

.header-content h1, .header-content h3, .header-content h4 {
  margin: 0 auto;
  padding: 0.125em;
}

.header-content h1 {
  text-shadow: 1px 1px 2px black;
}

.header-container {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  /* height: 50vh; */
  display: flex;
  flex-flow: row wrap;
}

.header-spacer {
  width: 0%;
}

/* ABOUT SECTION */
#about {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Josefin Sans', cursive;
}

#about * {
  margin: 0;
}

#about h2 {
  width: 100%;
  text-align: center;
}

#about-title {
  flex-basis: 100%;
  text-align: center;
}

.carousel-container {
  float: left;
  display: grid;
  place-items: center;
  max-width: fit-content;
  height: 500px;
}

.carousel {
  width: fit-content;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.about-pic {
  max-height: 500px;
  width: 90vw;
  display: inline;
  object-fit: scale-down;
  object-position: center;
}

#bio-text {
  width: 90%;
  background: rgba(255,255,255,0.8);
  padding: 1em;
  border-radius: 20px;
}

#bio-text p {
  text-align: justify;
  font-size: 0.8em;
  padding: 0.5em 0;
  line-height: 1em;
}


/* PROJECTS SECTION */
#projects {
  font-family: 'Josefin Sans', cursive;
}

.projects-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 3em;
}

.projects-container > * {
  flex-basis: 80%;
}

#projects h2 {
  font-size: 1em;
  text-align: center;
}

.loading-div {
  height: 10vh;
  text-align: center;
  width: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  animation: loading-animation 2.5s infinite linear;
  border-radius: 10vh;
}

.loading-text {
  font-size: 2em;
  font-family: "Red Hat Display", sans-serif;
  background: radial-gradient(goldenrod, rgb(235, 131, 83), gold);
  border-radius: 1vh;
  margin: 0 auto;
  padding: 0.5em;
}

.loading-caption {
  font-size: 0.65em;
  color: #222;
}

.project-title {
  position: absolute;
  background: navy;
  width: 50%;
  margin: 0.5em auto;
  border: solid 2px navy;
  border-radius: 25px;
  transition: all .1s ease;
  transform: scale(1);
}

/* .project-title:hover {
  transform: scale(1.25) skewX(-5deg);
} */

.project-card:hover img  {
  filter: blur(0px)
}

.project-card img {
  filter: blur(5px)
}

.project-card:hover img + .project-title {
  transform: scale(1.25) skewX(-5deg);
}

.project-card {
  position: relative;
  display: grid;
  place-items: center;
  padding: 0;
  /* background: linear-gradient(235deg, azure, blue); */
  /* border: 2px solid black; */
  border-radius: 5px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 10px navy;
  /* margin: 2em auto; */
  text-align: center;
  cursor: pointer;
}

/* .project-card:nth-of-type(2n+1), .project-display:nth-of-type(2n+1) {
  margin-right: auto;
}

.project-card:nth-of-type(2n), .project-display:nth-of-type(2n)  {
  margin-left: auto;
} */

.project-card img, .project-display img {
  min-width: 100%;
  max-width: 150%;
  height: 100%;
  object-fit: cover;
}

.project-display img {
  filter: blur(2px)
}

.project-display {
  position: relative;
  display: grid;
  place-items: center;
  padding: 0;
  color: black;
  /* border: 10px solid blue; */
  /* border-radius: 25px; */
  box-shadow: 2px 2px 10px blue;
  width: 100%;
  overflow: hidden;
  /* margin: 2em auto; */
  text-align: center;
}

.project-card, .project-display {
  max-height: 40vh;
}

.project-info {
  position: absolute;
  background: linear-gradient(25deg, gold, goldenrod);
  width: 90%;
  border: 2px solid #222;
  border-radius: 10px;
  padding: 0.25em;
}

.project-info h1 {
  font-size: 1em;
}

.project-info p {
  font-size: 0.75em;
}

.project-info h1, .project-info p {
  margin: 0;
}

.project-display button {
  height: 25px;
  border-radius: 5px;
  box-shadow: -2px 2px 2px black;
  margin: 5px;
}

.project-display button, .project-display button a {
  text-decoration: none;
  font-size: 0.67em;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
}

.live-link-btn a, .github-link-btn a {
  color: white;
}

.live-link-btn {
  background: linear-gradient(140deg, silver, green, silver);
  border: 1px solid green;
}

.github-link-btn {
  background: linear-gradient(140deg, silver, blue, silver);
  border: 1px solid blue;
}

.close-btn {
  background: linear-gradient(140deg, silver, white, silver);
}

/* RESUME SECTION */
#resume {
  font-family: 'Red Hat Display', sans-serif;
}

#resume h2, #resume h3 {
  text-align: center;
}

#resume h2 {
  font-size: 2.5em;
}

#resume h3 {
  font-size: 2em;
}

.tech-skills {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 2px 2px 10px navy;
  margin: 1em;
  padding: 3em;
}

.tech-skill-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tech-skills > svg {
  font-size: 2em;
}

.tech-skills img {
  max-width: 20%;
}

details {
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1em auto;
  padding: 2em;
  width: 70vw;
  border: 2px solid black;
  box-shadow: 2px 2px 10px navy;

}

.resume-item {
  border-top: 1px solid black;
  margin: 1em auto;
}

/* CONNECT SECTION */

#contact {
  font-family: 'Red Hat Display', sans-serif;
}

.connect-box {
  width: 70%;
  border: 2px solid black;
  margin: 1em auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px navy;
}

#links-ul {
  list-style-type: none;
  padding: 0;
}

.link-li {
  display: inline;
  padding: 0 0.5em;
  font-size: 2em;
}

.link-li svg {
  transition: all 0.3s ease;
  transform: scale(1);
}

.link-li svg:hover {
  transform: scale(1.5);
}

.link-li a {
  color: black;
  text-decoration: none;
}

#links svg {
  font-size: 2em;
}

button {
  /* display: block; */
  min-width: 100px;
  cursor: pointer;
  margin: 0 20px;
}

#contact {
  /* width: 70vw; */
  margin: 0 auto;
  text-align: center;
}

#contact h2 {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

/* FOOTER */

footer {
  font-family: 'Red Hat Display', sans-serif;
  color: white;
  background: linear-gradient(50deg, navy, silver, blue);
  padding: 0.5em;
}

footer a, footer a:visited {
  text-decoration: none;
  color: white;
}

#copyright-text {
  font-size: 1em;
}

#closing-nate-codes-tag {
  font-size: 1.5em;
  width: fit-content;
  border: 1px solid black;
}

/* MEDIA QUERIES */
/* Horizontal mobile device view */
@media (min-width: 480px) and (max-height: 480px) {
  header {
    height: 100vh;
  }
  
  .header-content {
    margin: 0 auto;
  } 

  .header-content h1, .header-content h3, .header-content h4 {
    padding: 0.5em;
  }

  .header-content h1 {
    font-size: 2em;
  }

  .home-link {
    padding: 0.25em;
  }

  .hamburger-menu, .open-menu .hamburger-menu {
    top: 10px;
  }

  .open-menu .hamburger-menu {
    top: 5px;
    right: 20px;
  }

  .carousel-container {
    max-width: 40%;
  }

  #bio-text {
    width: 40%;
  }

}

/* Small tablet view */
@media (min-width: 480px) and (min-height: 480px) {
  .lg {
    display: block;
  }
  
  .sm {
    display: none;
  }

  .nav-ul {
    display: flex;
    gap: 0.5em;
  }
 
  .nav-li {
    font-size: 0.9em;
    padding: 0;
  }

  .home-link {
    font-size: 1em;
    padding: 0.5em;
  }

  header {
    width: 80%;
  }

  .header-spacer {
    height: 100%;
    width: 20%;
  }

  .header-content {
    padding: 1.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  svg, .tech-skills svg {
    font-size: 2.5em;
  }

  .link-li {
    padding: 0 1em;
  }

  .carousel-container {
    height: 500px;
  }

  .about-pic {
    height: 500px;
  }

  #bio-text p {
    font-size: 1em;
    line-height: 1.2em;
  }

  .project-info {
    width: 70%;
  }

  .project-info h1 {
    font-size: 1.25em;
  }
  
  .project-info p {
    font-size: 1em;
  }
  
  .project-info h1, .project-info p {
    margin: 0.25em;
  }
}

/* Surface Duo vertical view */
@media (min-width: 480px) and (max-width: 600px) and (min-height: 480px) and (max-height: 1100px) {
  .nav-ul {
    padding: 0.25em;
  }
  
  .home-link {
    padding: 0.25em;
  }

  .home-link, .nav-li {
    font-size: 1em;
  }

  .header-content {
    padding: 1em;
    margin: 0 auto;
  }

}

/* Surface Duo horizontal view*/
@media (min-width: 600px) and (max-width: 720px) and (min-height: 480px) and (max-height: 720px) {
  header {
    height: 100vh;
  }
}

/* Nest Hub horizontal view */
@media (min-width: 840px) and (min-height: 600px) and (max-height: 840px) {
  header {
    height: 100vh;
  }
}


/* Large tablet and full view */
@media (min-width: 840px) and (min-height: 840px) {
  .nav-ul {
    gap: 1em;
  }
 
  .nav-li {
    font-size: 1.25em;
    padding: 0.5em;
  }
  
  .home-link {
    font-size: 1.5em;
    padding: 1em;
  }

  .carousel-container {
    max-width: 45%;
    max-height: 90%;
  }

  .about-pic {
    width: 45vw;
  }

  #bio-text {
    width: 40%;
  }

  #bio-text p {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 2.75em;
  }

  h2, #projects h2, #resume h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }
  svg, .tech-skills svg {
    font-size: 3em;
  }

  .link-li {
    padding: 0 0.5em;
  }

  .project-info {
    width: 70%;
  }

  .project-info h1 {
    font-size: 1.25em;
  }
  
  .project-info p {
    font-size: 1em;
    width: 70%;
  }
  
  .project-info h1, .project-info p {
    margin: 0.5em auto;
  }

  .project-display button {
    height: 50px;
  }
  
  .project-display button, .project-display button a {
    font-size: 1em;
  }

}

@media (min-width: 750px) and (max-width: 840px) {
  .about-pic {
    max-height: 70%;
  }
}

@media (min-width: 840px) and (max-height: 840px) {
  .carousel-container {
    max-height: 100%;
  }
}

@media (min-width: 840px) and (max-height: 480px) {
  .carousel-container {
    width: 45%;
  }

  .about-pic {
    max-width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 840px) and (max-height: 480px) {
  .carousel-container {
    width: 45%;
  }

  .about-pic {
    max-width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 840px) and (min-height: 480px) {  
  .carousel-container {
    height: 500px;
  }
  
  .about-pic {
    max-height: 500px;
  }
}

@media (min-width: 840px) and (min-height: 480px) and (max-height: 840px) {

  .carousel-container {
    width: 45%;
  }

  #bio-text {
    width: 45%;
  }

  .about-pic {
    max-height: 600px;
    max-width: 100%;
  }

  .project-info {
    width: 90%;
  }

  .project-info h1 {
    font-size: 1em;
  }
  
  .project-info p {
    font-size: 0.8em;
    width: 70%;
  }

  .project-info h1, .project-info p {
    margin: 0.25em auto;
  }
}

@media (min-width: 640px) {
  .projects-container > * {
    flex-basis: 40%;
  }

  #projects h2 {
    font-size: 1.25em;
  }
}

@media (min-width: 840px) {
  .nav-li:hover {
    transform: scale(1.5);
  }

  .home-link:hover, #closing-nate-codes-tag:hover {
    transform: rotateX(360deg);
  }

  #projects h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 1260px) {
  .projects-container > * {
    flex-basis: 70%;
  }

  .project-info {
    width: 50%;
  }

  .project-info h1 {
    font-size: 2em;
  }
  
  .project-info p {
    font-size: 1.5em;
    width: 70%;
  }
  
}

@keyframes loading-animation {
  0% {
    transform: scale(0.75);
    background-color: navy;
  }

  25% {
    transform: scale(0.875);
    background-color: blue;
  }
  50% {
    transform: scale(1);
    background-color: silver;
  }
  75% {
    transform: scale(0.875);
    background-color: blue;
  }
  100% {
    transform: scale(0.75);
    background-color: navy;
  }
}